body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffebcd;
}



#skiplink{
    position: absolute;
    top:-40px;
    left:0px;
    background-color: #fff;
    padding:8px;
    z-index: 1000;
    transition:top 0.3s;
}

#skiplink:focus{
    top:0px;
}

header{
    background-image: url("images/pancake.jpg");
    height: 120px;
    margin:0px;
    border:3px double #000000;
}

nav a{
    font-weight:1000;
    display: inline-grid;
    margin:5px;
    background-color: #fffeef;
    border:1px solid #000000;
    text-decoration: none;  
    padding:7px;
    transition:transform .2s;
}

nav a:hover{
    transform: scale(1.5);
    
}

.current{
    text-transform: uppercase;
}


/* Home */
.hours_location{
    font-style: italic;
    font-size: small;
}

/* About Us */

.img_gallery{
    display: flex;
    overflow-x: auto;
    padding:10px;
    border:2px solid #ccc
    
}

.img_gallery :nth-child(2n){
    border:5px solid #000000;
}

.img_gallery :nth-child(2n+1){
    border:5px solid #a52a2a;
}


.img_gallery img{
    max-width: 25vh;
    margin-right: 5em;
    border-radius: 3em;
    transition: transform 0.2s;
}

.img_gallery img:hover{
    transform:scale(1.5)
    overlaps
}

/* Menu */

.menuitem{
    display: grid;
    grid-template-columns:100px 1fr 100px ;
    gap:20px;
    align-items: center;
    margin:10px;
    border-style: solid;
    transition:transform;
}

.menuitem img{
    width:100px;
    transition:transform;
}
    
.menuitem:hover{
    transform:scale(1.1)
}
